@import "node_modules/plumber-sass/plumber";

// Color Variables
$brand-blue: #2D9CDB;
$brand-red: #CC5151;
$brand-green: #6FCF97;
$brand-white: #f2f2f2;
$brand-grey: #828282;
// $brand-coral: #c8b2b2;
$brand-coral: #ffdbdc;
$brand-navy: #202A3B;

$off-black: #2f2a2e;

// Breakpoint Variables
$lg: 1024px;
$md: 760px;
$sm: 480px;

// Breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: min-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }@else{
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

html {
    font-size: 18px;
    box-sizing: border-box;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: black;
    background-image: none;
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: background-image ease-in 1s;
    @include breakpoint($md){
        height: 100vh;
        width: 100vw;
    }
}

p{
    @include plumber(
		$grid-height: 0.5rem,
		$baseline: 0.273,
		$font-size: 1 * 2,
		// $line-height: 1 * 2,
		$leading-top: 1 * 2,
		$leading-bottom: 1 * 2
    );
    font-family: 'Rasa', serif;
    color: $brand-white;
    line-height: 1.5;
}

strong {
    font-weight: 600;
    color: $brand-white;
}

h1{
    color: $brand-coral;
    font-family: 'Roboto', sans-serif;
    @include plumber(
        $grid-height: 0.5rem,
        $baseline: 0.158203,
        $font-size: 2.618 * 2,
        $line-height: 1 * 2,
        $leading-top: 1 * 2,
        $leading-bottom: 5
    );
    @include breakpoint($md){
        // color: $brand-blue;
    }
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: $brand-coral;
    @include plumber(
        $grid-height: 0.5rem,
        $baseline: 0.158203,
        $font-size: 2.618 * 2,
        $line-height: 1 * 2,
        $leading-top: 1 * 2,
        $leading-bottom: 5
    );
    &.subheader {
        color: $brand-white;
        @include plumber(
            $grid-height: 0.5rem,
            $baseline: 0.158203,
            $font-size: 1.618 * 2,
            $line-height: 1 * 3,
            $leading-top: 1 * 2,
            $leading-bottom: 1 * 2
        );
    }
    @include breakpoint($md){
        // color: $brand-blue;
        @include plumber(
            $grid-height: 0.5rem,
            $baseline: 0.158203,
            $font-size: 1.618 * 2,
            $line-height: 1 * 3,
            $leading-top: 1 * 2,
            $leading-bottom: 1 * 2
        );
    }
}

*::-webkit-scrollbar {
    @include breakpoint($md) {
        background-color: $brand-navy;
        width: .2rem;
        @include breakpoint($md) {
            background-color: $brand-navy;
        }
    }
}

*::-webkit-scrollbar-thumb {
    @include breakpoint($md) {
        background-color: $brand-white;
        width: .2rem;
    }
}

button {
    display: inline-block;
    position: relative;
    border-radius: 2rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0;
    margin-right: .8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1111rem;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    text-transform: lowercase;
    &.green {
        color: $brand-green;
        border: 2px $brand-green solid;
        background: linear-gradient(to bottom, transparent 50%, $brand-green 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
        @include breakpoint($md) {
            &:hover {
                color: $brand-navy;
            }
        }
    }
    &.white {
        color: $brand-white;
        border: 2px $brand-white solid;
        background: linear-gradient(to bottom, transparent 50%, $brand-white 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
        @include breakpoint($md) {
            &:hover {
                color: $brand-navy;
            }
        }
    }
    &.red {
        color: $brand-red;
        border: 2px $brand-red solid;
        background: linear-gradient(to bottom, transparent 50%, $brand-red 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
        @include breakpoint($md) {
            &:hover {
                color: $brand-navy;
            }
        }
    }
    &.grey {
        color: $brand-grey;
        border: 2px $brand-grey solid;
        background: linear-gradient(to bottom, transparent 50%, $brand-grey 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
        @include breakpoint($md) {
            &:hover {
                color: $brand-navy;
            }
        }
    }
    &:focus {
        outline: 0;
    }
}

.mobile-only {
    @include breakpoint($md){
        display: none;
    }
}

.spacer {
    height: 1rem;
    width: 100%;
}

.triangle-container {
    position: relative;
    margin: -6rem -1rem 3rem -1rem;
    .triangle-left {
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        border-style: solid;
        border-width: 38px 80vw 0 0;
        border-color: rgba(233,233,255,0.05) transparent transparent transparent;
    }
    .triangle-left-2 {
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        border-style: solid;
        border-width: 100px 100vw 0 0;
        border-color: rgba(255,255,255,0.03) transparent transparent transparent;
    }
    .triangle-right {
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        border-style: solid;
        border-width: 80px 0 0 100vw;
        border-color: rgba(113, 160, 211, 0.11) transparent transparent transparent;
    }
    
    .triangle-right-2 {
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        border-style: solid;
        border-width: 140px 0 0 120vw;
        border-color: rgba(113, 160, 211, 0.12) transparent transparent transparent;
    }

    .triangle-right-3 {
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        // margin: -1.3rem -1rem 1.5rem -1rem;
        border-style: solid;
        border-width: 220px 0 0 150vw;
        border-color: rgba(113, 160, 211, 0.18) transparent transparent transparent;
    }
    .triangle-middle {
        position: absolute;
        width: 0;
        height: 0;
        left: calc(50%);
        border-style: solid;
        border-width: 36px 50vw 50vw 50vw;
        border-color: rgba(113, 160, 211, 0.14) transparent transparent transparent;
    }
    @include breakpoint($md) {
        margin: 0;
    }
}



main {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    @include breakpoint($md){
        height: 100%;
        overflow-y: hidden;
        padding: 0;
    }
    &.home-active{
        left: 38rem;
    }
}

#bg-contaner {
    display: none;
    @include breakpoint($md) {
        display: block;
    }
}

.background-img {
    display:none;
    @include breakpoint($md) {
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        pointer-events: none;
        transition: opacity 1.5s;
        &.hidden {
            opacity: 0;
        }
    }
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.8rem;
    height: 1.8rem;
    border: #f2f2f2 2px solid;
    border-radius: 50%;
    // font for 'X'
    cursor: pointer;
    color: $brand-white;
    font-family: 'Rasa', serif;
    font-size: 1.555rem;
    text-align: center;
    line-height: 2rem;
    // background fill effect
    background: linear-gradient(to bottom, transparent 50%, $brand-white 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: all .2s ease;
    &:hover {
        background-position: bottom;
        color: black;
    }
    @include breakpoint($md) {
        background: linear-gradient(to bottom, $brand-navy 50%, $brand-white 50%);
        background-size: 100% 205%;
        background-position: top;
        &:hover {
            background-position: bottom;
            color: $brand-navy;
        }
    }
}

#nav-bar {
    // XS breakpoint styling
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 84%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 0.5rem);
    position:absolute;
    width: 100%;
    height: 3rem;
    // border-radius: 0% 0 0 25%;
    z-index: 5;
    background-color: $brand-navy;
    top: 0;
    right: 0;
    .nav-item {
        display: none;
    }
    #open-side-nav{
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        @include breakpoint($md){
            display: none;
        }
    }
    // MD+ breakpoint styling
    @include breakpoint($md) {
        clip-path: none;
        -webkit-clip-path: none;
        position: fixed;
        right: 0px;
        top:2rem;
        width: 26rem;
        height: 4.5rem;
        z-index: 100;
        overflow: hidden;
        border-radius: 0;
        transition: top .7s, right .7s;
        .nav-item {
            float: left;
            display: block;
            height: 4.5rem;
            padding: 0 .8rem;
            border-top: 4px $brand-navy solid;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            line-height: 4.5rem;
            color: $brand-white;
            &:hover {
                color: $brand-green;
            }
            &.active {
                border-top: 4px $brand-white solid;
                &:hover {
                    border-top: 4px $brand-green solid;
                    color: $brand-green;
                }
            }
        }
        &.portfolio-active {
            right: -5rem;
            top: 0;
        }
    }
    // LG Breakpoint styling
    @include breakpoint($lg) {
        top: 3rem;
        &.portfolio-active {
            // Calculate how far to the left the nav should go to line up with the edge of the portfolio div
            right: calc(100vw/2 - 29.8rem);
            top: 0;
        }
    }
}


#side-nav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index:1000;
    top: 0;
    left: 0;
    padding-top: 4rem;
    transition: 0.3s;
    background-color: $brand-navy;
    overflow-x: hidden;
    &.open {
        width: 100%;
    }
    .item {
        margin-left: 2rem;
        padding: .5rem .5rem .5rem 1.3rem;
        display:block;
        transition: 0.3s;
        
        // Font styling
        font-family: 'Roboto', sans-serif;
        color: $brand-white;
        text-decoration: none;
        @include plumber(
            $grid-height: 0.5rem,
            $baseline: 0.158203,
            $font-size: 2.618 * 2,
            $line-height: 1 * 2,
            $leading-top: 1 * 2,
            $leading-bottom: 10
            );
    }
}

// Only shows on mobile sizes (anything under $md breakpoint)
#mobile-bio-img {
    width: 100%;
    min-height: 500px;
    height: 50vh;
    background-image: url('../img/bio.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    @include breakpoint($md){
        display: none;
    }
}

// Only shows on desktop/tablet sizes (anything over $md breakpoint)
#content-min {
    display: none;
    @include breakpoint($md){
        cursor: pointer;
        display: block;
        position: fixed;
        left: 0px;
        bottom: 4rem;
        padding: 1.5rem 2rem 2rem 3.5rem;
        width: 34rem;
        height: 15rem;
        background: rgba(32, 42, 59, 1);
        transition: left 0.7s, background-color 1.3s;
        &.faded {
            background: rgba(32, 42, 59, 0.5);
        }
        &.hidden {
            display: none;
        }
        &.closed {
            left: -38rem;
        }
        &:hover {
            background: rgba(32, 42, 59, 1);
        }
        .bio-img {
            position: relative;
            float: left;
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
            margin-right: 1rem;
            background-image: url('../img/bio.jpg');
            background-repeat: none;
            background-size: cover;
        }
        .content-min-text {
            position: relative;
            float: right;
            width: 270px;
        }
        #content-more {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            font-size: 2rem;
            color: $brand-white;
            cursor: pointer;
        }
    }
}

#content-max {
    // xs breakpoint styling
    width: 100%;
    clip-path: polygon(0% 0%, 100% 2.5rem, 100% 1000%, 0 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 2.5rem, 100% 1000%, 0 100%);
    background: rgba(0,0,0,0.75);
    background-color: black;
    padding: 6rem 1rem 0.5rem 1rem;
    margin-top: -3.5rem;
    .bio-col-left{
       display: none;
    }
    .bio-col-right {
        margin-top: 5rem;
    }
    #bio-close-button{
        display: none;
    }
    &.mobile-hidden {
        display: none;
    }
    // md+ breakpoint styling
    @include breakpoint($md) {
        clip-path: none;
        -webkit-clip-path: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 38rem;
        margin-top: 0;
        padding: 4.5rem 0 0rem 4.5rem;
        background-color: $brand-navy;
        overflow-y: hidden;
        transition: left 0.7s;
        &.closed {
            left: -38rem;
        }
        &.mobile-hidden{
            display: block;
        }
        #bio-close-button{
            display: block;
        }
        .triangle-container {
            margin: 0;
        }
        .bio-col-left {
            display: block;
            float: left;
            width: 10rem;
            margin-right: 2rem;
            .bio-img {
                border-radius: 50%;
                width: 10rem;
                height: 10rem;
                margin-right: 1rem;
                background-image: url('../img/bio.jpg');
                background-repeat: none;
                background-size: cover;
            }
            .social-list {
                margin-top: 1rem;
                border-right: 1px $brand-white solid;
                padding: 0;
                .social-item {
                    display: block;
                    height: 3rem;
                    padding: .25rem 1rem;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.111rem;
                    line-height: 2.5rem;
                    color: $brand-white;
                    text-align: right;
                    text-decoration: none;
                    border-right: 3px $brand-navy solid;
                    &:hover {
                        border-right: 3px $brand-white solid;
                    }
                }
            }
        }
        .bio-col-right {
            float: right;
            width: 18.5rem;
            height: calc(100% - 1rem);
            margin-top: 0;
            margin-right: 1.8rem;
            padding-top: 0rem;
            padding-right: 3.5rem;
            overflow-y: scroll;
        }
    }
}

#portfolio {
    clip-path: polygon(0% 0%, 100% 2.5rem, 100% 1000%, 0 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 2.5rem, 100% 1000%, 0 100%);
    background: black;
    width: 100%;
    padding: 6rem 1rem 0.5rem 1rem;
    margin-top: -3.5rem;
    &.mobile-hidden{
        display: none;
    }
    // md+ breakpoint styling
    @include breakpoint($md){
        clip-path: none;
        -webkit-clip-path: none;
        display: block;
        background: $brand-navy;
        position: relative;
        margin: 0 auto;
        padding: 4.5rem 1rem;
        width: 100%;
        height: 100%;
        bottom: 0px;
        overflow-y:scroll;
        transition: all 1s;
        .portfolio-selector {
            position: absolute;
            top: 4.8rem;
            right: 1.5rem;
            text-align: right;
            margin-top: -0.4rem;
            button{
                height: 2.5rem;
                width: 2.5rem;
                i {
                    &.fa-camera{
                        margin-left: -0.4em;
                    }
                    &.fa-code {
                        margin-left: -0.5em;
                    }
                }
            }
        }
        .portfolio-header{
            position: relative;
            padding-bottom: 0.5rem;
            width: 100%;
        }
        &.closed {
            bottom: -100vh;
        }
        &.mobile-hidden{
            display: block;
        }
    }
    @include breakpoint($lg) {
        width: 60rem;
        height: 100vh;
        padding: 4.5rem;
        .portfolio-selector {
            right: 6rem;
        }
    }

}

#portfolio-dev, 
#portfolio-photography {
    &.hidden {
        display: none;
    }
}

.dev-grid {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    width: 100%;
    margin-top: 1rem;

    .dev-item {
        width: 100%;
    }
    .dev-item-img {
        position: relative;
        height: 20rem;
        background-size: cover;
        background-position: center center;
        width: calc(100vw - 0.4rem);
        margin-left: -0.8rem;
        margin-right: -0.8rem;
        text-align: center;
        .dev-item-inner {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
            opacity: 0;
            transition: opacity 0.7s;
            .dev-buttons {
                margin: 28% auto;
                opacity: 0;
            }
            &:hover {
                opacity: 1;
                .dev-buttons {
                    display: block;
                    opacity: 1;
                }
            }
        }
    }
    #cs-proj {
        background-image: url(../img/culture-stack.jpg);
    }
    #nyt-proj {
        background-image: url(../img/nyt-search.png);
    }
    #mh-proj {
        background-image: url(../img/me-hungry.jpg);
    }

    @include breakpoint($md){
        grid-template-columns: 40% 60%;
        .dev-item {
            padding: 0 1rem;
        }
        .dev-item-img{
            margin: 0;
            margin-top: 1rem;
            width: 100%;
            height: 0;
            padding-bottom: 70%;
        }
    }
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0.5rem;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    .photo-column {
        width: 100%;
        line-height: 0;
        .photo {
            margin-bottom: 0.2rem;
            margin-left: -0.8rem;
            margin-right: -0.8rem;
            width: calc(100vw - 0.4rem);
            cursor: pointer;
        }
    }
    @include breakpoint($md){
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .photo-column {
            .photo {
                margin: 0 0 0.5rem 0;
                width: 100%;
            }
        }
    }
}

#contact {
    clip-path: polygon(0% 0%, 100% 2.5rem, 100% 1000%, 0 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 2.5rem, 100% 1000%, 0 100%);
    background: black;
    width: 100%;
    padding: 6rem 1rem;
    margin-top: -3.5rem;
    #contact-methods {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 4rem;
        
        button{
            margin: 0;
            height: 4rem;
            width: 4rem;
            i {
                &.fa-2x{
                    margin-left: -0.18rem;
                }
            }
        }
        
        #contact-slack {
            position: relative;
            display: inline-block;
            width: 4rem;
            height: 4rem;
        }   
    }
    &.mobile-hidden{
        display: none;
    }
    @include breakpoint($md) {
        clip-path: none;
        -webkit-clip-path: none;
        background: rgba(32,45,59, 1);
        display: block;
        position: absolute;
        right: 0rem;
        bottom: 9rem;
        width: 25rem;
        height: 16rem;
        padding: 1rem 3.5rem 1rem 2rem;
        margin: 0;
        transition: right .7s;
        &.mobile-hidden {
            display: block;
        }
        &.closed {
            right: -25rem;
        }
    }
}

footer {
    position: relative;
    padding: 1rem 1rem 0.5rem 1rem;
    background: $brand-navy;
    color: white;
    font-size: 1rem;
    p {
        font-size: 1rem;
        margin: 0;
    }
    @include breakpoint($md) {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 16rem;
        padding: 0rem 1rem;
        opacity: 0.45;
        text-align: right;
        transition: opacity 0.3s;
        p {
            line-height: 1;
            margin-top: .4rem;
            margin-bottom: 0;
            font-size: 0.86rem;
        }
        &:hover {
            opacity: 0.7;
        }
        &.portfolio-active {
            display: none;
        }
    }
}

#modal {
    z-index:99;
    display:none;
    padding-top:10px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.85);
    transition: opacity 1s;
    #modal-image {
        max-width: calc(100vw - 150px);
        max-height: calc(100vh - 9rem - 4px);
    }
    &.open {
        display: block;
    }
}

#modal-content {
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-prev, #modal-next {
    position: absolute;
    opacity: 0.8;
    cursor: pointer;
    transform: translate(0%, -50%);
    transition: opacity 0.4s;
    &:hover {
        opacity: 1;
    }
    i {
        color: white;
        font-size: 3rem;
    }
}
#modal-prev {
    left: 20px;
    top: 50%;
}
#modal-next {
    right: 20px;
    top: 50%;
}
#modal-close {
    position: absolute;
    z-index: 100;
    top: -1rem;
    left: -1rem;
}

