@import "node_modules/plumber-sass/plumber";


// Color Variables
$brand-blue: #2D9CDB;
$brand-red: #CC5151;
$brand-green: #6FCF97;
$brand-white: #f2f2f2;

html {
    font-size: 18px;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin:0;
    padding: 0;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
}

p{
    @include plumber(
		$grid-height: 0.5rem,
		$baseline: 0.273,
		$font-size: 1 * 2,
		// $line-height: 1 * 2,
		$leading-top: 1 * 2,
		$leading-bottom: 1 * 2
    );
    font-family: 'Rasa', serif;
    color: $brand-white;
    line-height: 1.5;
}

strong {
    font-weight: 600;
    color: $brand-blue;
}

h1{
    @include plumber(
		$grid-height: 0.5rem,
		$baseline: 0.158203,
		$font-size: 2.618 * 2,
		$line-height: 1 * 2,
		$leading-top: 1 * 2,
		$leading-bottom: 1 * 2
	);
    font-family: 'Roboto', sans-serif;
    color: $brand-blue;
}

h2 {
	@include plumber(
		$grid-height: 0.5rem,
		$baseline: 0.158203,
		$font-size: 1.618 * 2,
		$line-height: 1 * 2,
		$leading-top: 1 * 2,
		$leading-bottom: 1 * 2
	);
    font-family: 'Roboto', sans-serif;
    color: $brand-blue;
}

button {
    display: inline-block;
    position: relative;
    border-radius: 2rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0;
    margin-right: .8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1111rem;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    &.green {
        color: $brand-green;
        border: 2px $brand-green solid;
        background: linear-gradient(to bottom, black 50%, $brand-green 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
    }
    &.white {
        color: $brand-white;
        border: 2px $brand-white solid;
        background: linear-gradient(to bottom, black 50%, $brand-white 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
    }
    &.red {
        color: $brand-red;
        border: 2px $brand-red solid;
        background: linear-gradient(to bottom, black 50%, $brand-red 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
    }
    &:focus {
        outline: 0;
    }
}

nav {
    position: fixed;
    right: 0px;
    top: 3rem;
    width: 26rem;
    height: 4.5rem;
    overflow: hidden;
    background-color: black;
    a {
        float: left;
        display: block;
        height: 4.5rem;
        padding: 0 .8rem;
        border-top: 4px black solid;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        line-height: 4.5rem;
        color: $brand-white;
        &:hover {
            color: $brand-green;
        }
        &.active {
            border-top: 4px $brand-white solid;
            &:hover {
                border-top: 4px $brand-green solid;
                color: $brand-green;
            }
        }
    }
}

#content-min {
    position: fixed;
    left: 0px;
    bottom: 4rem;
    padding: 2.5rem 4rem;
    width: 30rem;
    height: 10rem;
    background-color: black;
    transition: left 0.7s;
    &.hidden {
        display: none;
    }
    &.closed {
        left: -38rem;
    }
    .bio-img {
        position: relative;
        float: left;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        margin-right: 1rem;
        background-image: url('../img/bio.jpg');
        background-repeat: none;
        background-size: cover;
    }
    .content-min-text {
        position: relative;
        float: right;
        width: 270px;
    }
    #content-more {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        font-size: 2rem;
        color: $brand-white;
        cursor: pointer;
    }
}

#content-max {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 38rem;
    padding: 4.5rem 3.5rem 0rem 6.5rem;
    padding-bottom: -9rem;
    background-color: black;
    overflow-y: hidden;
    transition: left 0.7s;
    &.closed {
        left: -38rem;
    }
    .bio-col-left {
        float: left;
        width: 10rem;
        margin-right: 2rem;
        .bio-img {
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
            margin-right: 1rem;
            background-image: url('../img/bio.jpg');
            background-repeat: none;
            background-size: cover;
        }
        .social-list {
            margin-top: 1rem;
            border-right: 1px $brand-white solid;
            padding: 0;
            .social-item {
                display: block;
                height: 2.5rem;
                padding: .25rem 1rem;
                font-family: 'Roboto', sans-serif;
                font-size: 1.111rem;
                line-height: 2.5rem;
                color: $brand-white;
                text-align: right;
                text-decoration: none;
                border-right: 3px black solid;
                &:hover {
                    border-right: 3px $brand-white solid;
                }
            }
        }
    }
    .bio-col-right {
        float: right;
        width: 15rem;
        height: 100%;
        overflow-y: scroll;
        
    }
    #bio-close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 1.8rem;
        height: 1.8rem;
        border: #f2f2f2 2px solid;
        border-radius: 50%;
        // font for 'X'
        cursor: pointer;
        color: $brand-white;
        font-family: 'Rasa', serif;
        font-size: 1.555rem;
        text-align: center;
        line-height: 2rem;
        // background fill effect
        background: linear-gradient(to bottom, black 50%, $brand-white 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
    }
}

#contact {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 9rem;
    width: 25rem;
    height: 18rem;
    padding: 2rem 3.5rem;
    background: black;
    transition: right .7s;
    &.closed {
        right: -25rem;
    }

    #contact-methods {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 4rem;
        
        button{
            margin: 0;
            height: 4rem;
            width: 4rem;
            i {
                &.fa-2x{
                    margin-left: -0.18rem;
                }
            }
        }
        
        #contact-slack {
            position: relative;
            display: inline-block;
            width: 4rem;
            height: 4rem;
        }
        
    }
}


